.footer__info {
  display: flex;
  justify-content: space-between;
  width: 40.8vw;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

@media (max-width:1279px) {
  .footer__info {
    width: 51vw;
  }
}
@media (max-width:1279px) {
  .footer__info {
    width: 69vw;
  }
}
@media (max-width: 767px) {
  .footer__info {
    display: block;
  }
}
