.header__book-button {
  margin-top: 5px;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #FFFFFF;
  color: var(--text-white);
  width: 304px;
  height: 51px;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 0.1em;
  cursor: pointer;
}

@media (max-width:1279px) {
  .header__book-button {
    font-size: 15px;
    line-height: 23px;
    font-size: 15px;
    width: 192px;
    height: 40px;
    line-height: 23px;
  }
}
