.about__img {
  height: 27vw;
}

@media (max-width:1023px) {
  .about__img {
    height: 49vw;
  }
}
@media (max-width: 767px) {
  .about__img {
    object-fit: cover;
    width: 206px;
    height: 350px;
  }
}
