.about__pictures {
  display: flex;
  margin-top: 51px;
  justify-content: space-between;
}

@media (max-width:1279px) {
  .about__pictures {
    margin-top: 29px;
  }
}
@media (max-width:767px) {
  .about__pictures {
    margin-top: 48px;
  }
  .about__pictures:nth-child(2) {
    margin-top: 30px;
  }
}
