.about__column {
  width: 43.5vw;
}


@media (max-width:1279px) {
  .about__column {
    width: 44.5vw;
  }
}
@media (max-width:1023px) {
  .about__column {
    width: 81vw;
    margin-top: 47px;
  }
  .about__column:first-child {
    margin-top: 109px;
  }
}
@media (max-width:767px) {
  .about__column {
    width: 87vw;
    margin-top: 31px;
  }
  .about__column:first-child {
    margin-top: 65px;
  }
  .about__column:nth-child(2) .about__img {
    width: 87vw;
    height: 398px;
  }
}
@media (max-width: 479px) {
  .about__column {
    width: 90vw;
  }
  .about__column {
    margin-top: 44px;
  }
  .about__column:first-child {
    margin-top: 52px;
  }
}
